@font-face {
  font-family: 'ia7ck';
  src:  url('fonts/ia7ck.eot?qlsn1r');
  src:  url('fonts/ia7ck.eot?qlsn1r#iefix') format('embedded-opentype'),
    url('fonts/ia7ck.ttf?qlsn1r') format('truetype'),
    url('fonts/ia7ck.woff?qlsn1r') format('woff'),
    url('fonts/ia7ck.svg?qlsn1r#ia7ck') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ia7ck' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-namazu:before {
  content: "\e900";
  color: #4d4d4d;
}
